div {
  min-height: 100vh;
  color: green;
  font-size: 60px;
  display: flex;
  justify-content: center;
}
.big-img {
  background: url("./big.jpg");
  /* background-repeat: round; */
  background-size: cover;
  /* background-position: center; */
}
.small-img {
  border: 2px solid red;
  background: url("./small.jpg");
  /* background-repeat: repeat; */
  background-repeat: no-repeat;
  /* background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: space;
  background-repeat: round; */
  /* background-size: cover; */
  /* background-position: center;
  background-position: bottom;
  background-position: left;
  background-position: right;
  background-position: top; */
  background-position: 50% 50%;
}
.folder-img {
  background: url("./img/folder-img.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
