@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Yesteryear&display=swap");
</style>
/* 
GOOGLE FONTS
 */
body {
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
.main {
  font-family: "Yesteryear", cursive;
}
.subheading {
  font-style: normal;
}
.one {
  font-weight: bold;
  font-style: italic;
}
.two {
  font-weight: lighter;
  font-style: oblique;
}
